<div>
    <div class="form-group form-group-default" ng-class="{'m-b-0': password.strength.enabled}" pg-form-group>
        <button style="z-index: 2" class="pull-right btn btn-default btn-xs btn-link" type="button" tabindex="-1"
                ng-class="{'active': password.inputType=='text'}" ng-click="togglePasswordVisibility()" ng-switch="password.visible">
            <i class="fa fa-eye" ng-switch-when="false"></i>
            <i class="fa fa-eye-slash" ng-switch-when="true"></i>
        </button>
        <label ng-if="password.label" for="{{password.id}}">{{password.label}}</label>
        <input ng-model="password.model" id="{{password.id}}" type="{{password.inputType}}"
               placeholder="{{password.placeholder}}"
               class="form-control {{password.class}}" name="{{password.name}}" ng-style="password.style"
                />
        <span class="help ng-cloak" ng-switch="!password.strength.enabled || (password.strength.enabled && password.model.length >= password.minLength)">
            <span ng-switch-when="false">{{password.help}}</span>
            <span ng-switch-when="true" ng-switch="password.strength.score">
                  <span ng-switch-when="2">strong</span>
                  <span ng-switch-when="1">acceptable</span>
                  <span ng-switch-when="0">weak</span>
            </span>
        </span>
    </div>
    <div class="progress ng-cloak" style="height: 3px;" ng-show="password.strength.enabled">
        <div class="progress-bar" role="progressbar" aria-valuenow="percentage" aria-valuemin="0" aria-valuemax="100"
             ng-class="{
                'progress-bar-danger': password.strength.score === 0,
                'progress-bar-warning': password.strength.score === 1,
                'progress-bar-success': password.strength.score === 2
             }"
             ng-style="{'width': password.strength.percentage+'%'}"></div>
    </div>
</div>