<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>A.2. Registration</title>

    <link rel="icon" href="assets/images/byggemappen-favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select.css">
    <link rel="stylesheet" type="text/css" href="assets/css/angular-motion.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>

<body ng-controller="ByggemAppenController" class="ng-scope fixed-header mac desktop menu-behind">
    <div class="page-container no-sidebar bg-master-dark">
    <div class="page-content-wrapper">
        <div class="content">
            <div class="container">
                <div class="guest-logo text-center">
    <img src="assets/images/mm-logo-inv.png" alt="Marine Manager" style="height:100px; padding: 25px">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Registration</div>
                </div>

                <div class="panel-body">
                    <form name="registrationForm" id="login-form" class="ng-pristine ng-valid" role="form">

                        <div id="registration-form-feedback" ng-show="registrationErrorMessage" class="alert alert-danger ng-cloak" role="alert" ng-bind="registrationErrorMessage"></div>

                        <div class="form-group form-group-default required">
                            <label>E-mail</label>
                            <input type="email" ng-model="registration.username" class="form-control input-lg ng-pristine ng-untouched ng-valid ng-empty" id="registration-form-email" data-cip-id="registration-form-email" required>
                        </div>

                        <password-input ng-model="registration.password"
                                        label="Set password" help="min. 8 characters"
                                        name="newPassword" class="input-lg"
                                        ng-minlength="8" ng-required="'true'"
                                        password-strength-enabled="true"
                                        id="registration-form-password" tabindex="2"></password-input>

                        <p><small>By creating an account, you agree to <a href="A.4.terms-of-use.html">Terms of use</a> and <a href="A.5.privacy-policy.html">Privacy Policy</a>.</small></p>
                        <a id="registration-form-submit" href="B.1.account-details.html" class="btn btn-primary btn-lg btn-block btn-pending" ng-disabled="registrationForm.$invalid">Create account</a>
                    </form>
                </div>
                <div class="panel-footer text-center">
                    <a id="recovery-link" href="A.3.login.html" class="btn btn-link">Already a user?</a>
                </div>

            </div>
        </div>
    </div>
</div>


            </div>
        </div>
        <div class="container-fixed-lg footer small sm-text-center">
            <div class="row">
                <div class="col-sm-8">
                    <span class="hint-text">Copyright © 2017 Marine Manager.</span>
                    <ul class="footer-nav m-l-10">
                        <li class="footer-nav-item"><a href="A.4.terms-of-use.html">Terms of use</a></li>
                        <li class="footer-nav-item"><a href="A.5.privacy-policy.html">Privacy Policy</a></li>
                        <li class="footer-nav-item"><a href="#">Help</a></li>
                        <li class="footer-nav-item"><a href="mailto:kontakt@marinemanager.no">kontakt@marinemanager.no</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 text-right hidden-sm-down">
                    Marine Manager Web App Templates 1.8.0
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="assets/js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="assets/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/vendor/classie.js"></script>
    <!--<script type="text/javascript" src="assets/js/vendor/pages.js"></script>-->
    
    <script type="text/javascript" src="assets/js/vendor/angular.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-animate.js"></script>
    <script type="text/javascript" src="assets/js/vendor/select.js"></script>
    <script type="text/javascript" src="assets/js/vendor/ng-file-upload.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-strap.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-strap.tpl.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-sticky.js"></script>
    <script type="text/javascript" src="assets/js/vendor/ng-tags-input.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-filter.js"></script>
    <script type="text/javascript" src="assets/js/vendor/moment.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-moment.js"></script>
    
    <script type="text/javascript" src="assets/js/app.js"></script>
    
    <script type="text/javascript" src="assets/js/directives/pg-form-group.js"></script>
    <script type="text/javascript" src="assets/js/directives/pg-tab.js"></script>
    <script type="text/javascript" src="assets/js/directives/pg-dropdown.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngFileDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/cs-select.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngSwitcher.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngTooltipDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/passwordInputDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/searchPanelDirective.js"></script>
</body>
</html>