<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>C.1.7. Project checkins</title>

    <link rel="icon" href="assets/images/byggemappen-favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select.css">
    <link rel="stylesheet" type="text/css" href="assets/css/angular-motion.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>

<body ng-controller="ByggemAppenController" class="ng-scope fixed-header mac desktop menu-behind">
    <div class="page-container no-sidebar">
    <div class="header bg-master-dark">
    
        <div class="pull-center hidden-lg-up">
            <a class="header-inner header-brand" href="/C.project-list.html">
                <img class="inline" alt="logo" src="assets/images/mm-logo-inv.png" height="32px">
            </a>
        </div>
    
        <div class="pull-left hidden-md-down p-r-15 m-l-15 m-r-15">
            <a class="header-inner header-brand" href="/C.project-list.html">
                <img class="inline" alt="logo" src="assets/images/mm-logo-inv.png" height="32px">
            </a>
        </div>
    
        <div class="pull-left sm-table hidden-md-down">
        <div class="header-inner">
            <ul class="breadcrumb">
                <li><a href="C.project-list.html">Projects</a></li>
                <li><a href="C.1.project-details.html">Bremnesvegen 870 - Hus</a></li>
                <li><a href="C.1.7.project-checkins.html">Members</a></li>
            </ul>
        </div>
    </div>

        <div class="pull-right">
            <div class="header-inner">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" target="_blank" title="Help" class="text-center"><i class="fa fa-question-circle"></i><span class="hidden-xs-down"> Help</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="profile-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="avatar-placeholder-0-16px">JD</span>
                            <span class="hidden-xs-down">John Doe</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li class="dropdown-header">Administration</li>
                            <li><a href="F.1.administration-projects.html"><i class="fa fa-home"></i> Projects</a></li>
                            <li><a href="F.2.administration-users.html"><i class="fa fa-users"></i> Users</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="E.settings.html"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="A.3.login.html"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
    <div class="page-content-wrapper">
        <div class="content">
            <div class="container m-t-50">
    <header class="m-b-30">
        <div class="pull-right">
            <div class="btn-toolbar">
                <a class="btn btn-default btn-sm"><i class="fa fa-print"></i><span class="hidden-xs"> Print report</span></a>
            </div>
        </div>
        <a href="C.1.project-details.html">&larr; Back to project</a>
        <h1>Check-in history</h1>
    </header>
    <section>
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <form class="m-b-30">
                    <div class="input-group transparent col-sm-6">
                        <span class="input-group-addon">
                            Month
                        </span>
                        <input type="text" class="form-control input-lg"
                               ng-model="checkinListMonth"
                               data-template-url="assets/js/templates/datepicker.tpl.html"
                               data-date-type="iso"
                               data-use-native="true"
                               data-start-date="today"
                               data-date-format="MMMM yyyy"
                               data-start-week="1"
                               data-min-view="1"
                               data-start-view="1"
                               data-autoclose="tru"
                               bs-datepicker />
                    </div>
                </form>
                <div ng-repeat="group in mockData.checkins | groupBy: 'day' | toArray: true | orderBy: '-$key'" class="ng-repeat-fade ng-cloak">
                    <h4 class="ng-cloak"><strong>{[{group.$key | date: 'EEE'}]}</strong> | {[{group.$key | date: 'mediumDate'}]}</h4>
                    <div class="panel panel-default">
                        <table class="table table-condensed" style="table-layout: auto">
                            <tbody>
                                <tr ng-repeat="checkin in group | orderBy: '-dateFrom'" class="ng-cloak ng-repeat-fade" style="min-height:30px;">
                                    <td class="v-align-middle">
                                        <p class="bold text-black">{[{checkin.member.firstName}]} {[{checkin.member.lastName}]}</p>
                                        <div class="row">
                                            <div class="col-xs-4"><i class="fa fa-sign-in text-success"></i> {[{checkin.dateFrom | date: 'shortTime'}]}</div>
                                            <div class="col-xs-4"><i class="fa fa-sign-out text-muted"></i> {[{checkin.dateTo | date: 'shortTime'}]}
                                                <span class="ng-cloak" ng-show="(checkin.dateTo | date: 'shortDate')!==(checkin.dateFrom | date: 'shortDate')">({[{checkin.dateTo | date: 'shortDate'}]})</span>
                                            </div>
                                            <div class="col-xs-4">
                                                <i class="fa fa-clock-o text-muted"></i> {[{totalMinutes = (checkin.dateTo | amDifference: checkin.dateFrom : 'minutes' : true) | minutesToHours}]}
                                                <span ng-show="totalMinutes > 8 * 60"><i class="fa fa-warning text-warning"></i></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="v-align-middle" style="width:50px; text-align:right;">
                                        <button class="btn btn-link"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default" id="invite-members">
                    <div class="panel-heading">
                        <div class="panel-title">Add check-in</div>
                    </div>

                    <div class="panel-body">

                        <form name="addCheckinForm" id="add-checkin-form" class="ng-pristine ng-valid" role="form" ng-submit="addCheckinSent=true;" ng-init="addCheckinSent=false" >

                            <div id="add-checkin-form-feedback" ng-show="addCheckinFormErrorMessage" class="alert alert-danger ng-cloak" role="alert" ng-bind="addCheckinFormErrorMessage"></div>

                            <div class="form-group form-group-default required" id="add-checkin-form-date-from-container">
                                <label for="add-checkin-form-date-from">Start</label>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control input-lg" id="add-checkin-form-date-from"
                                               ng-model="addCheckinModel.dateFrom"
                                               data-template-url="assets/js/templates/datepicker.tpl.html"
                                               data-date-type="iso"
                                               data-use-native="true"
                                               data-start-date="today"
                                               data-date-format="mediumDate"
                                               data-start-week="1"
                                               data-container="#add-checkin-form-date-from-container"
                                               placeholder="Date"
                                               bs-datepicker
                                               required />
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" size="8" class="form-control input-lg"
                                               ng-model="addCheckinModel.dateFrom"
                                               data-template-url="assets/js/templates/timepicker.tpl.html"
                                               data-time-format="shortTime"
                                               data-date-type="iso"
                                               data-use-native="true"
                                               data-container="#add-checkin-form-date-from-container"
                                               data-round-display="true"
                                               data-placement="bottom-right"
                                               placeholder="Time"
                                               bs-timepicker
                                               required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-default required" id="add-checkin-form-date-to-container">
                                <label for="add-checkin-form-date-to">End</label>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control input-lg" id="add-checkin-form-date-to"
                                               ng-model="addCheckinModel.dateTo"
                                               data-min-date="{[{addCheckinModel.dateFrom}]}"
                                               data-template-url="assets/js/templates/datepicker.tpl.html"
                                               data-date-type="iso"
                                               data-use-native="true"
                                               data-start-date="today"
                                               data-date-format="mediumDate"
                                               data-container="#add-checkin-form-date-to-container"
                                               placeholder="Date"
                                               bs-datepicker
                                               required />
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" size="8" class="form-control input-lg"
                                               ng-model="addCheckinModel.dateTo"
                                               data-template-url="assets/js/templates/timepicker.tpl.html"
                                               data-time-format="shortTime"
                                               data-date-type="iso"
                                               data-use-native="true"
                                               data-min-time="addCheckinModel.dateFrom"
                                               data-container="#add-checkin-form-date-to-container"
                                               data-round-display="true"
                                               data-placement="bottom-right"
                                               placeholder="Time"
                                               bs-timepicker
                                               required />
                                    </div>
                                </div>

                            </div>

                            <div class="form-group form-group-default form-group-lg">
                                <label for="add-checkin-form-lastname">Member</label>
                                <p class="form-control-static">John Doe (you)</p>
                                <a href="#" class="btn btn-xs m-b-5">Change</a>
                            </div>
                            
                            <button type="submit" id="add-checkin-form-submit" class="btn btn-primary btn-lg btn-block" ng-disabled="addCheckinForm.$invalid"><i class="fa fa-plus"></i> Add check-in</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>
        </div>
        <div class="container-fixed-lg footer small sm-text-center">
            <div class="row">
                <div class="col-sm-8">
                    <span class="hint-text">Copyright © 2017 Marine Manager.</span>
                    <ul class="footer-nav m-l-10">
                        <li class="footer-nav-item"><a href="A.4.terms-of-use.html">Terms of use</a></li>
                        <li class="footer-nav-item"><a href="A.5.privacy-policy.html">Privacy Policy</a></li>
                        <li class="footer-nav-item"><a href="#">Help</a></li>
                        <li class="footer-nav-item"><a href="mailto:kontakt@marinemanager.no">kontakt@marinemanager.no</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 text-right hidden-sm-down">
                    Marine Manager Web App Templates 1.8.0
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="assets/js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="assets/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/vendor/classie.js"></script>
    <!--<script type="text/javascript" src="assets/js/vendor/pages.js"></script>-->
    
    <script type="text/javascript" src="assets/js/vendor/angular.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-animate.js"></script>
    <script type="text/javascript" src="assets/js/vendor/select.js"></script>
    <script type="text/javascript" src="assets/js/vendor/ng-file-upload.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-strap.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-strap.tpl.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-sticky.js"></script>
    <script type="text/javascript" src="assets/js/vendor/ng-tags-input.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-filter.js"></script>
    <script type="text/javascript" src="assets/js/vendor/moment.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-moment.js"></script>
    
    <script type="text/javascript" src="assets/js/app.js"></script>
    
    <script type="text/javascript" src="assets/js/directives/pg-form-group.js"></script>
    <script type="text/javascript" src="assets/js/directives/pg-tab.js"></script>
    <script type="text/javascript" src="assets/js/directives/pg-dropdown.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngFileDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/cs-select.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngSwitcher.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngTooltipDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/passwordInputDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/searchPanelDirective.js"></script>
</body>
</html>