<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>C.1. Project details</title>

    <link rel="icon" href="assets/images/byggemappen-favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select.css">
    <link rel="stylesheet" type="text/css" href="assets/css/angular-motion.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>

<body ng-controller="ByggemAppenController" class="ng-scope fixed-header mac desktop menu-behind">
    <div class="page-container no-sidebar">
    <div class="header bg-master-dark">
            <div class="pull-left hidden-lg-up">
            <div class="header-inner">
                <ul class="breadcrumb">
                    <li><a href="C.project-list.html"><i class="fa fa-chevron-left"></i> Projects
                    </a></li>
                </ul>
            </div>
        </div>

        <div class="pull-center hidden-lg-up">
            <a class="header-inner header-brand" href="/C.project-list.html">
                <img class="inline" alt="logo" src="assets/images/mm-logo-inv.png" height="32px">
            </a>
        </div>
    
        <div class="pull-left hidden-md-down p-r-15 m-l-15 m-r-15">
            <a class="header-inner header-brand" href="/C.project-list.html">
                <img class="inline" alt="logo" src="assets/images/mm-logo-inv.png" height="32px">
            </a>
        </div>
    
        <div class="pull-left sm-table hidden-md-down">
        <div class="header-inner">
            <ul class="breadcrumb">
                <li><a href="C.project-list.html">Projects</a></li>
                <li><a href="C.1.project-details.html">KS «Norge»</a></li>
            </ul>
        </div>
    </div>

        <div class="pull-right">
            <div class="header-inner">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" target="_blank" title="Help" class="text-center"><i class="fa fa-question-circle"></i><span class="hidden-xs-down"> Help</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="profile-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="avatar-placeholder-0-16px">JD</span>
                            <span class="hidden-xs-down">John Doe</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li class="dropdown-header">Administration</li>
                            <li><a href="F.1.administration-projects.html"><i class="fa fa-home"></i> Projects</a></li>
                            <li><a href="F.2.administration-users.html"><i class="fa fa-users"></i> Users</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="E.settings.html"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="A.3.login.html"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
    <div class="page-content-wrapper">
        <div class="content">
            
    <div class="project-cover">
        <div class="project-cover-image" style="background-image: url('assets/images/examples/project_ksnorge.jpg')"></div>
    </div>
    <div class="jumbotron p-t-30 p-b-60" style="overflow: visible;">
        <div class="container">
                <div class="project-details-company-logo over-cover-image">
                    <img src="assets/images/examples/logo_kingofnorway.png" alt="Logo">
                </div>
            <div>
                <div class="pull-right">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm" bs-dropdown data-placement="bottom-right">
                                <i class="fa fa-eye"></i> Watch <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="menu-item">
                                    <span class="menu-item-icon">
                                        <span class="fa fa-fw fa-check"></span>
                                    </span>
                                    <span class="menu-item-text">
                                        <div class="bold">Watch</div>
                                        <div class="text-muted">Notify me on updates</div>
                                    </span>
                                </a></li>
                                <li><a href="#" class="menu-item">
                                    <span class="menu-item-icon">
                                    </span>
                                    <span class="menu-item-text">
                                        <div class="bold">Ignore</div>
                                        <div class="text-muted">Don't notify me</div>
                                    </span>
                                </a></li>
                            </ul>
                        </div>
                        <a href="C.3.edit-project.html" class="btn btn-default btn-sm hidden-sm-down"><i class="fa fa-edit"></i> Edit project</a>
                    </div>
                </div>
                <p><span class="label label-white">docking</span></p>
                <h1 class="m-b-20 clearfix">KS «Norge»</h1>
                <h6>Owner: <strong>King of Norway</strong></h6>
                <h6 class="text-black">MMSI: <a href="https://www.marinetraffic.com/ais/details/ships/mmsi:257001000" target="_blank">257001000 <span class="fa fa-external-link"></span></a></h6>
            </div>
            <div class="row m-t-30">
                <div class="col-sm-8">
                    <div class="progress m-b-30">
                        <div class="progress-bar progress-bar-master" style="width:55%"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="project-details-widget panel panel-no-padding panel-transparent m-b-0">
                                <div class="panel-heading">
                                    <a href="C.1.5.project-milestones.html" class="panel-title">
                                        <strong>Milestones</strong><br>
                                        <span class="normal text-lowercase">remaining</span><br>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <h1>
                                        <span>
                                            <span class="">11</span><span style="opacity:0.25">/24</span>
                                        </span>
                                        <i class="fa fa-flag-checkered" style="opacity:0.1"></i>
                                    </h1>
                                </div>
                                <div class="panel-footer">
                                    <a href="C.1.5.project-milestones.html" class="btn btn-xs">Check progress</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="project-details-widget panel panel-no-padding panel-transparent m-b-0">
                                <div class="panel-heading">
                                    <a href="C.1.6.project-checklists-list.html" class="panel-title">
                                        <strong>Work specs</strong><br>
                                        <span class="normal text-lowercase">remaining</span>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <h1>
                                        <span>
                                            <span class="" ng-bind="(mockData.allChecklists.length - mockData.allChecklistsCompleted)">0</span><span ng-bind="'/' + mockData.allChecklists.length" style="opacity:0.25">/0</span>
                                        </span>
                                        <i class="fa fa-check-square" style="opacity:0.1"></i>
                                    </h1>
                                </div>
                                <div class="panel-footer">
                                    <a href="C.1.6.project-checklists-list.html" class="btn btn-xs">Review items</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="project-details-widget panel panel-no-padding panel-transparent m-b-0">
                                <div class="panel-heading">
                                    <a href="C.1.4.change-requests.html" class="panel-title">
                                        <strong>Change Requests</strong><br>
                                        <span class="normal text-lowercase">pending</span>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <h1>
                                        <span class="text-warning m-t-0" ng-bind="(mockData.changeRequests | filter: {status: 'pending'}).length">0</span>
                                        <i class="fa fa-exchange" style="opacity:0.1"></i>
                                    </h1>
                                </div>
                                <div class="panel-footer">
                                    <a href="C.1.4.change-requests.html" class="btn btn-xs">Show summary</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="project-details-widget panel panel-no-padding panel-transparent m-b-0">
                        <div class="panel-heading">
                            <a href="C.1.3.project-members.html" class="panel-title">
                                <strong>Members</strong><br>
                                <span class="normal text-lowercase">in project</span>
                            </a>
                        </div>
                        <div class="panel-body">
                            
                                <div class="entry-avatar m-b-5" ng-init="generateAvatarPlaceholderIndex()" ng-class="['avatar-placeholder-{[{getAvatarPlaceholderIndex()}]}-24px']">
                                    <span>JD</span>
                                </div>
                            
                                <div class="entry-avatar m-b-5" ng-init="generateAvatarPlaceholderIndex()" ng-class="['avatar-placeholder-{[{getAvatarPlaceholderIndex()}]}-24px']">
                                    <span>HH</span>
                                </div>
                            
                                <div class="entry-avatar m-b-5" ng-init="generateAvatarPlaceholderIndex()" ng-class="['avatar-placeholder-{[{getAvatarPlaceholderIndex()}]}-24px']">
                                    <span>BR</span>
                                </div>
                            
                                <div class="entry-avatar m-b-5" ng-init="generateAvatarPlaceholderIndex()" ng-class="['avatar-placeholder-{[{getAvatarPlaceholderIndex()}]}-24px']">
                                    <span>GS</span>
                                </div>
                            
                                <div class="entry-avatar m-b-5" ng-init="generateAvatarPlaceholderIndex()" ng-class="['avatar-placeholder-{[{getAvatarPlaceholderIndex()}]}-24px']">
                                    <span>NJ</span>
                                </div>
                            
                                <div class="entry-avatar m-b-5" ng-init="generateAvatarPlaceholderIndex()" ng-class="['avatar-placeholder-{[{getAvatarPlaceholderIndex()}]}-24px']">
                                    <span>DB</span>
                                </div>
                            
                                <div class="entry-avatar m-b-5" ng-init="generateAvatarPlaceholderIndex()" ng-class="['avatar-placeholder-{[{getAvatarPlaceholderIndex()}]}-24px']">
                                    <span>CR</span>
                                </div>
                            
                                <div class="entry-avatar m-b-5" ng-init="generateAvatarPlaceholderIndex()" ng-class="['avatar-placeholder-{[{getAvatarPlaceholderIndex()}]}-24px']">
                                    <span>AG</span>
                                </div>
                            
                                <div class="entry-avatar m-b-5" ng-init="generateAvatarPlaceholderIndex()" ng-class="['avatar-placeholder-{[{getAvatarPlaceholderIndex()}]}-24px']">
                                    <span>AB</span>
                                </div>
                            
                                <div class="entry-avatar m-b-5" ng-init="generateAvatarPlaceholderIndex()" ng-class="['avatar-placeholder-{[{getAvatarPlaceholderIndex()}]}-24px']">
                                    <span>DH</span>
                                </div>
                            
                                <div class="entry-avatar m-b-5" ng-init="generateAvatarPlaceholderIndex()" ng-class="['avatar-placeholder-{[{getAvatarPlaceholderIndex()}]}-24px']">
                                    <span>BH</span>
                                </div>
                            
                                <div class="entry-avatar m-b-5" ng-init="generateAvatarPlaceholderIndex()" ng-class="['avatar-placeholder-{[{getAvatarPlaceholderIndex()}]}-24px']">
                                    <span>RG</span>
                                </div>
                            
                            <span class="m-l-5 text-nowrap">
                            <span class="">+6 others </span>
                            </span>
                        </div>
                        <div class="panel-footer">
                            <a href="C.1.3.project-members.html" class="btn btn-xs">Manage team</a>
                            <a href="C.1.7.project-checkins.html" class="btn btn-xs">Check-in history</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

            </div>
        </div>
    </div>
    <div class="container p-t-30">
        <section>
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel panel-transparent panel-no-padding">
                        <div class="panel-heading separator">
                            <a href="C.1.1.project-documents.html" class="panel-title"><i class="fa fa-files-o"></i> SFI documents</a>
                        </div>
                        <div class="panel-body document-browser">
                            <ul class="nav nav-pills nav-stacked list-group document-list bg-light ng-cloak">
                                <li class="document-item" ng-repeat="category in categories | filter:isSpiFolder">
                                    <a href="C.1.1.project-documents.html">
                                        <span class="document-item-icon">
                                            <span class="fa-stack-overlay fa-lg">
                                                <span class="fa fa-folder-o"></span>
                                                <span class="fa-stack ng-cloak" ng-show="category.isCustom">
                                                    <span class="fa fa-circle fa-stack-2x fa-mask"></span>
                                                    <span class="fa fa-user fa-stack-1x text-muted"></span>
                                                </span>
                                                <span class="fa-stack ng-cloak" ng-show="category.isCustom && category.isPrivate">
                                                    <span class="fa fa-circle fa-stack-2x fa-mask"></span>
                                                    <span class="fa fa-lock fa-stack-1x text-muted"></span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="document-item-description">
                                            <span class="document-item-title" ng-bind="category.name" ng-class="{'text-bold':category.isNew}">Category</span>
                                        </span>
                                        <span class="document-item-counter">
                                            <span class="badge badge-default ng-cloak" ng-show="category.isNew" ng-bind="category.newChildrenCount"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="m-t-15">
                                <a href="C.1.1.project-documents.html" class="btn btn-default btn-xs">Browse documents</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="panel panel-transparent panel-no-padding">
                        <div class="panel-heading separator">
                            <a href="C.1.2.project-issues.html" class="panel-title"><i class="fa fa-archive"></i> Issues <span class="badge badge-default">4</span></a>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked list-group issue-list ng-cloak">
                                <li class="issue-item" ng-repeat="issue in mockData.issues | orderBy: 'status' | limitTo : 3" ng-class="{'issue-closed': (issue.status === 'resolved'), 'issue-unread': (issue.entriesUnreadCount > 0), 'active': issue.active}">
                                    <a href="C.1.2.project-issues.html" class="block">
                                        <span class="row block">
                                            <span class="col-xs-4 col-xs-push-8 text-right" style="display: block" >
                                                <img ng-show="issue.thumbnailUrl && issue.status !== 'resolved'" ng-src="{[{issue.thumbnailUrl}]}" alt="" class="img-thumbnail" style="height:60px;">
                                            </span>
                                            <span class="col-xs-8 col-xs-pull-4" style="display: block">
                                                <div class="issue-title">
                                                    <i ng-show="issue.status == 'resolved'" class="fa fa-check"></i>
                                                    <span ng-bind="issue.title">Issue title</span>
                                                    <span class="badges">
                                                        <span class="fa-stack" ng-show="issue.changeRequest.status === 'pending'">
                                                          <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                                          <i class="fa fa-exchange fa-stack-1x text-black"></i>
                                                        </span>
                                                        <span class="fa-stack" ng-show="issue.changeRequest.status === 'accepted'">
                                                          <i class="fa fa-circle fa-stack-2x text-success"></i>
                                                          <i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span class="badge badge-default ng-cloak" ng-show="issue.entriesUnreadCount > 0 && issue.status !== 'resolved'" ng-bind="issue.entriesUnreadCount">0</span>
                                                    </span>
                                                </div>
                                                <div class="issue-date small text-muted">
                                                    Updated <span ng-bind="issue.dateChanged | date"></span></div>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <a href="C.1.2.project-issues.html" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Add issue</a>
                            <a href="C.1.2.project-issues.html" class="btn btn-default btn-xs">Browse issues</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



        </div>
        <div class="container-fixed-lg footer small sm-text-center">
            <div class="row">
                <div class="col-sm-8">
                    <span class="hint-text">Copyright © 2017 Marine Manager.</span>
                    <ul class="footer-nav m-l-10">
                        <li class="footer-nav-item"><a href="A.4.terms-of-use.html">Terms of use</a></li>
                        <li class="footer-nav-item"><a href="A.5.privacy-policy.html">Privacy Policy</a></li>
                        <li class="footer-nav-item"><a href="#">Help</a></li>
                        <li class="footer-nav-item"><a href="mailto:kontakt@marinemanager.no">kontakt@marinemanager.no</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 text-right hidden-sm-down">
                    Marine Manager Web App Templates 1.8.0
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="assets/js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="assets/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/vendor/classie.js"></script>
    <!--<script type="text/javascript" src="assets/js/vendor/pages.js"></script>-->
    
    <script type="text/javascript" src="assets/js/vendor/angular.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-animate.js"></script>
    <script type="text/javascript" src="assets/js/vendor/select.js"></script>
    <script type="text/javascript" src="assets/js/vendor/ng-file-upload.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-strap.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-strap.tpl.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-sticky.js"></script>
    <script type="text/javascript" src="assets/js/vendor/ng-tags-input.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-filter.js"></script>
    <script type="text/javascript" src="assets/js/vendor/moment.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-moment.js"></script>
    
    <script type="text/javascript" src="assets/js/app.js"></script>
    
    <script type="text/javascript" src="assets/js/directives/pg-form-group.js"></script>
    <script type="text/javascript" src="assets/js/directives/pg-tab.js"></script>
    <script type="text/javascript" src="assets/js/directives/pg-dropdown.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngFileDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/cs-select.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngSwitcher.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngTooltipDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/passwordInputDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/searchPanelDirective.js"></script>
</body>
</html>