<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>C.1.6.1. Work Specs</title>

    <link rel="icon" href="assets/images/byggemappen-favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select.css">
    <link rel="stylesheet" type="text/css" href="assets/css/angular-motion.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>

<body ng-controller="ByggemAppenController" class="ng-scope fixed-header mac desktop menu-behind">
    <div class="page-container no-sidebar">
    <div class="header bg-master-dark">
    
        <div class="pull-center hidden-lg-up">
            <a class="header-inner header-brand" href="/C.project-list.html">
                <img class="inline" alt="logo" src="assets/images/mm-logo-inv.png" height="32px">
            </a>
        </div>
    
        <div class="pull-left hidden-md-down p-r-15 m-l-15 m-r-15">
            <a class="header-inner header-brand" href="/C.project-list.html">
                <img class="inline" alt="logo" src="assets/images/mm-logo-inv.png" height="32px">
            </a>
        </div>
    
        <div class="pull-left sm-table hidden-md-down">
        <div class="header-inner">
            <ul class="breadcrumb">
                <li><a href="C.project-list.html">Projects</a></li>
                <li><a href="C.1.project-details.html">KS «Norge»</a></li>
                <li><a href="C.1.6.project-checklists-list.html">Work Specs</a></li>
                <li><a href="C.1.6.project-checklists-details.html">1.1.</a></li>
            </ul>
        </div>
    </div>

        <div class="pull-right">
            <div class="header-inner">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" target="_blank" title="Help" class="text-center"><i class="fa fa-question-circle"></i><span class="hidden-xs-down"> Help</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="profile-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="avatar-placeholder-0-16px">JD</span>
                            <span class="hidden-xs-down">John Doe</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li class="dropdown-header">Administration</li>
                            <li><a href="F.1.administration-projects.html"><i class="fa fa-home"></i> Projects</a></li>
                            <li><a href="F.2.administration-users.html"><i class="fa fa-users"></i> Users</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="E.settings.html"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="A.3.login.html"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
    <div class="page-content-wrapper">
        <div class="content">
            <div class="container m-t-50">
    <header>
        <div class="btn-toolbar pull-right">
            <!--<button type="button" class="btn btn-success" data-toggle="modal" data-target="#complete-checklist-all-modal"><i class="fa fa-check"></i> Mark all as complete</button>-->
            <button type="button" class="btn btn-default" ng-init="hideVerified=false" ng-model="hideVerified" bs-checkbox><i class="fa fa-eye-slash"></i> Hide verified</button>
            <a href="C.1.1.project-documents.html" class="btn btn-default"><i class="fa fa-folder-o"></i> Related documents</a>
            <div class="projects-search input-group transparent" style="width: 300px">
                    <span class="input-group-addon">
                        <span class="fa fa-search"></span>
                    </span>
                <input type="text" placeholder="Search by number or name..." class="form-control">
            </div>
        </div>
        <a href="C.1.6.project-checklists-list.html">&larr; Back to Work Spec Groups</a>
        <div class="row m-t-25">
            <div class="col-md-2">
                <h1 class="text-right">
                    <span ng-bind="mockData.checklistsInGroup[0].group.position + '.' + mockData.checklistsInGroup[0].position + '.'"></span>
                </h1>
            </div>
            <div class="col-md-8">
                <h1>
                    <strong ng-bind="mockData.checklistsInGroup[0].name | capitalize"></strong>
                </h1>
            </div>
        </div>
    </header>
    <section class="m-t-50">
        <div class="checklists-list">
            <div class="row">
                <div class="col-md-2">
                    <div class="checklists-header" role="complementary" anchor="top" hl-sticky="checklist-header" offset-top="60">
                        <div class="panel panel-transparent text-right">
                            <div class="panel-body p-t-15">
                                <div class="completable-summary completable-summary-verified">
                                    <h6>Verified</h6>
                                    <h2 class="m-t-0 m-b-0">
                                        <span ng-bind="(mockData.checklistsInGroup[0].items | filter: {'status':'verified'}:true).length || 0">0</span>
                                    </h2>
                                </div>

                                <div class="completable-summary completable-summary-complete">
                                    <h6>Complete</h6>
                                    <h2 class="m-t-0 m-b-0">
                                        <span ng-bind="(checklistItems | filter: {'status':'complete'}:true).length || 0">0</span>
                                    </h2>
                                </div>

                                <div class="completable-summary completable-summary-incomplete">
                                    <h6>Incomplete</h6>
                                    <h2 class="m-t-0 m-b-0">
                                        <span ng-bind="(checklistItems | filter: {'status':'incomplete'}:true).length || 0">0</span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="completable-list panel-group ng-fade m-b-0" role="tablist" ng-model="activeChecklistItem" bs-collapse data-start-collapsed="true" style="min-height:100%">
                        <div class="completable-item panel panel-caret ng-cloak ng-repeat-fade" ng-class="{
                    'active': activeChecklistItem===$index,
                    'panel-default': checklistItem.status==='incomplete' || (checklistItem.status==='ignored' && activeChecklistItem==$index),
                    'status-complete': checklistItem.status==='complete',
                    'bg-complete-lighter': checklistItem.status==='complete' && activeChecklistItem!==$index,
                    'bg-success-lighter': checklistItem.status==='verified' && activeChecklistItem!==$index,
                    'panel-success': checklistItem.status==='verified',
                    'panel-complete': checklistItem.status==='complete',
                    'status-incomplete': checklistItem.status==='incomplete',
                    'panel-transparent': checklistItem.status==='ignored' && activeChecklistItem!==$index,
                    'status-ignored': checklistItem.status==='ignored'
                    }"
                             ng-repeat="checklistItem in checklistItems=(mockData.checklistsInGroup[0].items | orderBy : 'position' | filter: {'status': (hideVerified ? '!verified' : '!asd')}) track by $index"
                        >
                            <a class="panel-heading" role="tab" bs-collapse-toggle>
                                <div class="completable-item-header">
                                    <span class="completable-item-position small m-r-15" ng-bind="mockData.checklistsInGroup[0].group.position + '.' + mockData.checklistsInGroup[0].position + '.100' + checklistItem.position + '00'"></span>
                                    <div class="completable-item-icon" ng-switch="checklistItem.status">
                                        <span class="fa-stack" ng-switch-when="verified">
                                          <i class="fa fa-square fa-stack-2x text-success"></i>
                                          <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <span class="fa-stack" ng-switch-when="complete">
                                          <i class="fa fa-square fa-stack-2x text-complete"></i>
                                          <i class="fa fa-check fa-stack-1x fa-inverse" ng-class="{'fa-warning': checklistItem.openIssuesCount > 0}"></i>
                                        </span>
                                        <span class="fa-stack" ng-switch-when="incomplete">
                                          <i class="fa fa-square-o fa-stack-2x text-master-light" ng-class="{'text-warning': checklistItem.openIssuesCount > 0,'fa-square': checklistItem.openIssuesCount > 0}"></i>
                                          <i class="fa fa-clock-o fa-stack-1x fa-inverse" ng-class="{'text-master-light': checklistItem.openIssuesCount === 0,'fa-warning': checklistItem.openIssuesCount > 0}"></i>
                                        </span>
                                            <span class="fa-stack" ng-switch-when="ignored">
                                          <i class="fa fa-square-o fa-stack-2x text-master-light"></i>
                                          <i class="fa fa-minus fa-stack-1x text-master-light"></i>
                                        </span>
                                    </div>
                                    <p class="completable-item-name" ng-bind="checklistItem.name | capitalize"></p>
                                    <div class="completable-item-meta badge badge-default" ng-show="checklistItem.status === 'ignored'">not applicable</div>
                                    <div class="completable-item-meta badge badge-success" ng-show="checklistItem.status === 'verified'">verified</div>
                                    <div class="completable-item-meta" ng-show="checklistItem.openIssuesCount > 0 && checklistItem.status !== 'ignored'">
                                        <i class="fa fa-comments-o"></i> <span ng-bind="checklistItem.openIssuesCount"></span>
                                    </div>
                                    <div class="completable-item-meta" ng-show="checklistItem.images.length > 0 && checklistItem.status !== 'ignored'">
                                        <i class="fa fa-image"></i> <span ng-bind="checklistItem.images.length"></span>
                                    </div>
                                </div>
                            </a>
                            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                <div class="panel-body" ng-show="checklistItem.status !== 'ignored'">
                                    <div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="completable-item-assignee ng-cloak m-b-30">
                                                    <div>
                                                        <h6>Assignee
                                                            <button class="btn btn-link btn-xs text-link">
                                                                <span class="fa fa-edit"></span> Change
                                                            </button>
                                                        </h6>
                                                        <div>
                                                            <div class="media p-t-5 p-b-5">
                                                                <div class="media-left">
                                                                    <div class="entry-avatar" ng-class="['avatar-placeholder-7-24px']">
                                                                        <span>HM</span>
                                                                    </div>
                                                                </div>
                                                                <div class="media-body media-middle">
                                                                    Henry Mustermann
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="completable-item-assignee ng-cloak m-b-30">
                                                    <div>
                                                        <h6>Deadline
                                                            <button class="btn btn-link btn-xs text-link">
                                                                <span class="fa fa-edit"></span> Change
                                                            </button>
                                                        </h6>
                                                        <div>
                                                            <span class="fa fa-calendar"></span> 20.08.2018
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="completable-item-issues ng-cloak">
                                                    <div ng-show="checklistItem.issues.length > 0">
                                                        <h6>Related issues
                                                            <button data-toggle="modal" data-target="#edit-checklist-item-comment-modal"
                                                                    class="btn btn-link btn-xs text-link">
                                                                <span class="fa fa-plus"></span> Add new
                                                            </button>
                                                        </h6>
                                                        <ul class="fa-ul">
                                                            <li ng-repeat="issue in checklistItem.issues | orderBy: 'status'">

                                                                <span ng-switch="issue.status" class="fa-li">
                                                                    <span ng-switch-when="resolved" class="label label-default"><span class="fa fa-check"></span></span>
                                                                    <span ng-switch-when="open" class="label label-danger"><span class="fa fa-comments-o"></span></span>
                                                                </span>
                                                                <a href="#"><span ng-bind="issue.title"></span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="completable-item-message ng-cloak">
                                                    <button ng-show="checklistItem.status==='incomplete' && checklistItem.message===''"
                                                            data-toggle="modal" data-target="#edit-checklist-item-comment-modal"
                                                            class="btn btn-link btn-xs text-link">
                                                        <span class="fa fa-plus"></span> Add comment
                                                    </button>
                                                    <div ng-show="checklistItem.message!==''">
                                                        <h6>Comment
                                                            <button data-toggle="modal" data-target="#edit-checklist-item-comment-modal"
                                                                    class="btn btn-link btn-xs text-link">
                                                                <span class="fa fa-edit"></span> Edit
                                                            </button>
                                                        </h6>
                                                        <p ng-bind="checklistItem.message"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="completable-item-images images-list">
                                            <div class="images-action">
                                                <button class="btn btn-secondary" data-toggle="modal" data-target="#add-image-entry-modal">
                                                    <i class="fa fa-plus"></i><br>Add image
                                                </button>
                                            </div>
                                            <div class="images-item" ng-repeat="image in checklistItem.images">
                                                <a ng-href="image.imageUrl">
                                                    <img class="" ng-src="{[{image.thumbnailUrl}]}" alt="Image">
                                                </a>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="completable-item-footer">
                                        <div class="completable-item-status" ng-show="checklistItem.status==='complete' || checklistItem.status==='verified'">Completed on {[{checklistItem.completedAt | date}]}<br>by {[{checklistItem.completedBy.firstName}]} {[{checklistItem.completedBy.lastName}]}</div>
                                        <div class="completable-item-status" ng-show="checklistItem.status==='verified'">Verified on {[{checklistItem.completedAt | date}]}<br>by {[{checklistItem.completedBy.firstName}]} {[{checklistItem.completedBy.lastName}]}</div>
                                        <div class="completable-item-actions">
                                            <div class="">
                                                <button class="btn btn-complete" ng-show="checklistItem.status==='incomplete'" data-toggle="modal" data-target="#complete-checklist-modal"><i class="fa fa-check"></i> Mark as done</button>
                                                <button class="btn btn-default" ng-show="checklistItem.status==='complete'" data-toggle="modal" data-target="#undo-complete-checklist-modal"><i class="fa fa-undo"></i> Undo</button>
                                                <button class="btn btn-success" ng-show="checklistItem.status==='complete'" data-toggle="modal" data-target="#verify-checklist-modal"><i class="fa fa-check"></i> Verify</button>
                                                <button class="btn btn-danger" ng-show="checklistItem.status==='complete'" data-toggle="modal" data-target="#undo-complete-checklist-modal"><i class="fa fa-remove"></i> Reject</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

        </div>
        <div class="container-fixed-lg footer small sm-text-center">
            <div class="row">
                <div class="col-sm-8">
                    <span class="hint-text">Copyright © 2017 Marine Manager.</span>
                    <ul class="footer-nav m-l-10">
                        <li class="footer-nav-item"><a href="A.4.terms-of-use.html">Terms of use</a></li>
                        <li class="footer-nav-item"><a href="A.5.privacy-policy.html">Privacy Policy</a></li>
                        <li class="footer-nav-item"><a href="#">Help</a></li>
                        <li class="footer-nav-item"><a href="mailto:kontakt@marinemanager.no">kontakt@marinemanager.no</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 text-right hidden-sm-down">
                    Marine Manager Web App Templates 1.8.0
                </div>
            </div>
        </div>
    </div>
</div>
            <div class="modal fade" id="complete-checklist-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Are you sure you want to complete this item?</h4>
            </div>
            <div class="modal-body p-t-15">

                <form action="">
                    <div class="form-group form-group-default full-width" pg-form-group>
                        <label for="complete-milestone-form-title">Comment</label>
                        <textarea rows="4" class="form-control p-b-10" name="title" id="complete-milestone-form-title" style="height: auto" placeholder="Please explain why, if necessary"></textarea>
                    </div>
                </form>

                <div class="alert alert-warning m-b-0 m-t-0">
                    <h5 class="no-margin">Author</h5>
                    <div>John Doe on {[{date | date}]}</div>
                </div>

            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
                <button type="submit" class="btn btn-success" data-dismiss="modal">Mark as complete</button>
            </div>
        </div>
    </div>
</div>

            <div class="modal fade" id="edit-checklist-item-comment-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Edit comment</h4>
            </div>
            <div class="modal-body p-t-15">

                <form action="">
                    <div class="form-group form-group-default full-width" pg-form-group>
                        <label for="edit-checklist-comment">Comment</label>
                        <textarea rows="4" class="form-control p-b-10" name="title" id="edit-checklist-comment" style="height: auto">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, debitis dolor eveniet expedita id impedit ipsum nobis perspiciatis placeat praesentium, provident quam quis quo ratione repellendus sit sunt suscipit voluptas.
                        </textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

            <div class="modal fade" id="complete-checklist-all-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Are you sure you want to complete all items?</h4>
            </div>
            <div class="modal-body p-t-15">
                <p class="text-muted">This will include all incomplete items except those marked as <em>not applicable</em>.</p>
                <div class="alert alert-warning m-b-0 m-t-0">
                    <h5 class="no-margin">Author</h5>
                    <div>John Doe on {[{date | date}]}</div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
                <button type="submit" class="btn btn-success" data-dismiss="modal">Mark all as complete</button>
            </div>
        </div>
    </div>
</div>

            <div class="modal fade" id="verify-checklist-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Verify this item as done?</h4>
            </div>
            <div class="modal-body p-t-15">

                <form action="">
                    <div class="form-group form-group-default full-width" pg-form-group>
                        <label for="complete-milestone-form-title">Comment</label>
                        <textarea rows="4" class="form-control p-b-10" name="title" id="complete-milestone-form-title" style="height: auto" placeholder="Please explain why, if necessary"></textarea>
                    </div>
                </form>

                <div class="alert alert-warning m-b-0 m-t-0">
                    <h5 class="no-margin">Author</h5>
                    <div>John Doe on {[{date | date}]}</div>
                </div>

            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
                <button type="submit" class="btn btn-success" data-dismiss="modal">Mark as complete</button>
            </div>
        </div>
    </div>
</div>

            <div class="modal fade" id="undo-complete-checklist-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Mark this checklist item as incomplete?</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>

            <div class="modal fade" id="add-image-entry-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-close"></i>
                </button>
                <h4 class="modal-title">Insert image?</h4>
            </div>
            <div class="modal-body">
                <div class="m-t-20 m-b-20 text-center" style="background-repeat:no-repeat;background-size:contain;background-position:center;width:100%;height:400px;background-image:url('http://placehold.it/1000x600')">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-lg btn-large" data-dismiss="modal">
                    Cancel
                </button>
                <button type="submit" class="btn btn-primary btn-lg btn-large" data-dismiss="modal">Insert</button>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="assets/js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="assets/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/vendor/classie.js"></script>
    <!--<script type="text/javascript" src="assets/js/vendor/pages.js"></script>-->
    
    <script type="text/javascript" src="assets/js/vendor/angular.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-animate.js"></script>
    <script type="text/javascript" src="assets/js/vendor/select.js"></script>
    <script type="text/javascript" src="assets/js/vendor/ng-file-upload.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-strap.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-strap.tpl.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-sticky.js"></script>
    <script type="text/javascript" src="assets/js/vendor/ng-tags-input.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-filter.js"></script>
    <script type="text/javascript" src="assets/js/vendor/moment.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-moment.js"></script>
    
    <script type="text/javascript" src="assets/js/app.js"></script>
    
    <script type="text/javascript" src="assets/js/directives/pg-form-group.js"></script>
    <script type="text/javascript" src="assets/js/directives/pg-tab.js"></script>
    <script type="text/javascript" src="assets/js/directives/pg-dropdown.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngFileDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/cs-select.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngSwitcher.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngTooltipDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/passwordInputDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/searchPanelDirective.js"></script>
</body>
</html>