<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>E. Settings</title>

    <link rel="icon" href="assets/images/byggemappen-favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select.css">
    <link rel="stylesheet" type="text/css" href="assets/css/angular-motion.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>

<body ng-controller="ByggemAppenController" class="ng-scope fixed-header mac desktop menu-behind">
    <div class="page-container no-sidebar">
    <div class="header bg-master-dark">
    
        <div class="pull-center hidden-lg-up">
            <a class="header-inner header-brand" href="/C.project-list.html">
                <img class="inline" alt="logo" src="assets/images/mm-logo-inv.png" height="32px">
            </a>
        </div>
    
        <div class="pull-left hidden-md-down p-r-15 m-l-15 m-r-15">
            <a class="header-inner header-brand" href="/C.project-list.html">
                <img class="inline" alt="logo" src="assets/images/mm-logo-inv.png" height="32px">
            </a>
        </div>
    
        <div class="pull-left sm-table hidden-md-down">
        <div class="header-inner">
            <ul class="breadcrumb">
                <li><a href="E.settings.html">Settings</a></li>
            </ul>
        </div>
    </div>

        <div class="pull-right">
            <div class="header-inner">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" target="_blank" title="Help" class="text-center"><i class="fa fa-question-circle"></i><span class="hidden-xs-down"> Help</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="profile-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="avatar-placeholder-0-16px">JD</span>
                            <span class="hidden-xs-down">John Doe</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li class="dropdown-header">Administration</li>
                            <li><a href="F.1.administration-projects.html"><i class="fa fa-home"></i> Projects</a></li>
                            <li><a href="F.2.administration-users.html"><i class="fa fa-users"></i> Users</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="E.settings.html"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="A.3.login.html"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
    <div class="page-content-wrapper">
        <div class="content">
            <div class="container">
    <div class="container-fluid">
        <header class="m-t-50 m-b-30">
            <h1>Settings</h1>
        </header>
        <section>
            <div class="panel panel-transparent panel-no-padding">
                <ul class="nav nav-tabs nav-tabs-simple">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-account-details" pg-tab>Account details</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab-security" pg-tab>Security</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content no-padding p-t-30">
                <div class="tab-pane active" id="tab-account-details">
                    <form name="personalDetailsForm" id="personal-details-form" role="form">
                        <fieldset class="p-b-30">
                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    <h4>Personal details</h4>
                                    <p class="help-text"></p>
                                </div>
                                <div class="col-md-6 col-md-offset-2 col-lg-5 col-lg-offset-2 p-t-10">

                                    <div class="form-group form-group-default required" pg-form-group>
                                        <label for="account-details-form-firstname">First name(s)</label>
                                        <input type="text" ng-minlength="2" class="form-control input-lg" id="account-details-form-firstname" ng-model="firstName" required tabindex="1">
                                    </div>
                                    <div class="form-group form-group-default required" pg-form-group>
                                        <label for="account-details-form-lastname">Last name</label>
                                        <input type="text" ng-minlength="2" class="form-control input-lg" id="account-details-form-lastname" ng-model="lastName" required tabindex="2">
                                    </div>
                                    <div class="form-group form-group-default required" pg-form-group>
                                        <label for="account-details-form-phone">Phone number</label>
                                        <input type="text" ng-minlength="2" class="form-control input-lg" id="account-details-form-phone" ng-model="phoneNumber" required tabindex="3">
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group form-group-default" pg-form-group>
                                                <label for="account-details-form-occupation">Position / occupation</label>
                                                <input type="text" class="form-control input-lg" id="account-details-form-occupation" ng-model="occupation" tabindex="4">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group form-group-default" pg-form-group>
                                                <label for="account-details-form-hse">HSE number</label>
                                                <input type="text" class="form-control input-lg" id="account-details-form-hse" ng-model="hseNumber" tabindex="4">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="checkbox check-primary">
                                        <input type="checkbox" value="0" id="account-details-form-iscompany" ng-model="isCompany" tabindex="4">
                                        <label for="account-details-form-iscompany">I represent a company</label>
                                    </div>

                                    <div class="m-t-30">
                                        <a id="account-details-form-submit" href="#" class="btn btn-primary" ng-disabled="personalDetailsForm.$invalid">Save changes</a>
                                        <a id="account-details-form-cancel" href="#" class="btn btn-link">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <form name="companyDetailsForm" id="company-details-form" role="form" ng-show="isCompany" class="ng-cloak ng-fade">
                        <hr>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    <h4>Company details</h4>
                                    <p class="help-text"></p>
                                </div>
                                <div class="col-md-6 col-md-offset-2 col-lg-5 col-lg-offset-2 p-t-10">
                                    <div class="form-group form-group-default required" pg-form-group>
                                        <label for="company-details-form-company">Company name</label>
                                        <input type="text" class="form-control input-lg" id="company-details-form-company" ng-model="company" ng-required="isCompany">
                                    </div>

                                    <div class="form-group form-group-default required" pg-form-group>
                                        <label for="company-details-form-street">Street Address</label>
                                        <input type="text" ng-minlength="2" class="form-control input-lg" id="company-details-form-street" ng-model="street" ng-required="isCompany">
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-8">
                                            <div class="form-group form-group-default required" pg-form-group>
                                                <label for="company-details-form-city">City</label>
                                                <input type="text" ng-minlength="2" class="form-control input-lg" id="company-details-form-city" ng-model="city" ng-required="isCompany">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group form-group-default required" pg-form-group>
                                                <label for="company-details-form-code">Code</label>
                                                <input type="text" ng-minlength="2" class="form-control input-lg" id="company-details-form-code" ng-model="code" ng-required="isCompany">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-default" pg-form-group>
                                        <label for="company-details-form-country">Country</label>
                                        <input type="text" class="form-control input-lg" id="company-details-form-country" ng-model="country">
                                    </div>

                                    <div class="m-t-30">
                                        <a id="company-details-form-submit" href="#" class="btn btn-primary" ng-disabled="companyDetailsForm.$invalid">Save changes</a>
                                        <a id="company-details-form-cancel" href="#" class="btn btn-link">Cancel</a>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>

                <div class="tab-pane" id="tab-security">
                    <form name="securityPasswordForm" id="security-password-form" role="form">
                        <fieldset class="p-b-30">
                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    <h4>Change password</h4>
                                    <p class="help-text"></p>
                                </div>
                                <div class="col-md-6 col-md-offset-2 col-lg-5 col-lg-offset-2 p-t-10">

                                    <password-input ng-model="password.current" label="Current password"
                                                    name="currentPassword" class="input-lg"
                                                    ng-required="'true'"
                                                    id="security-password-form-current"></password-input>

                                    <password-input ng-model="password.new"
                                                    label="New password" help="min. 8 characters"
                                                    name="newPassword" class="input-lg"
                                                    ng-minlength="8" ng-required="'true'"
                                                    password-strength-enabled="true"
                                                    id="security-password-form-new" tabindex="2"></password-input>

                                    <div class="m-t-30">
                                        <a id="security-password-form-submit" href="#" class="btn btn-primary" ng-disabled="securityPasswordForm.$invalid" tabindex="4">Save password</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>

    </div>
</div>

        </div>
        <div class="container-fixed-lg footer small sm-text-center">
            <div class="row">
                <div class="col-sm-8">
                    <span class="hint-text">Copyright © 2017 Marine Manager.</span>
                    <ul class="footer-nav m-l-10">
                        <li class="footer-nav-item"><a href="A.4.terms-of-use.html">Terms of use</a></li>
                        <li class="footer-nav-item"><a href="A.5.privacy-policy.html">Privacy Policy</a></li>
                        <li class="footer-nav-item"><a href="#">Help</a></li>
                        <li class="footer-nav-item"><a href="mailto:kontakt@marinemanager.no">kontakt@marinemanager.no</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 text-right hidden-sm-down">
                    Marine Manager Web App Templates 1.8.0
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="assets/js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="assets/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/vendor/classie.js"></script>
    <!--<script type="text/javascript" src="assets/js/vendor/pages.js"></script>-->
    
    <script type="text/javascript" src="assets/js/vendor/angular.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-animate.js"></script>
    <script type="text/javascript" src="assets/js/vendor/select.js"></script>
    <script type="text/javascript" src="assets/js/vendor/ng-file-upload.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-strap.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-strap.tpl.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-sticky.js"></script>
    <script type="text/javascript" src="assets/js/vendor/ng-tags-input.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-filter.js"></script>
    <script type="text/javascript" src="assets/js/vendor/moment.js"></script>
    <script type="text/javascript" src="assets/js/vendor/angular-moment.js"></script>
    
    <script type="text/javascript" src="assets/js/app.js"></script>
    
    <script type="text/javascript" src="assets/js/directives/pg-form-group.js"></script>
    <script type="text/javascript" src="assets/js/directives/pg-tab.js"></script>
    <script type="text/javascript" src="assets/js/directives/pg-dropdown.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngFileDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/cs-select.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngSwitcher.js"></script>
    <script type="text/javascript" src="assets/js/directives/ngTooltipDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/passwordInputDirective.js"></script>
    <script type="text/javascript" src="assets/js/directives/searchPanelDirective.js"></script>
</body>
</html>